BasedOnStyle: LLVM
IndentPPDirectives: AfterHash
BinPackParameters: false
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AllowShortFunctionsOnASingleLine: true
PointerAlignment: Right
ColumnLimit: 100
AlwaysBreakTemplateDeclarations: true
